@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

// ===== Colors =====
$neutral-900: hsl(243, 96%, 9%);
$neutral-800: hsl(243, 27%, 20%);
$neutral-700: hsl(243, 23%, 24%);
$neutral-600: hsl(243, 23%, 30%);
$neutral-300: hsl(240, 6%, 70%);
$neutral-200: hsl(250, 6%, 84%);
$neutral-0: hsl(0, 0%, 100%);

$orange-500: hsl(28, 100%, 52%);

$blue-500: hsl(233, 67%, 56%);
$blue-700: hsl(248, 70%, 36%);

// ===== Typography =====
$font-size-body: 18px;
$font-family-body: "DM Sans", sans-serif;
$font-family-secondary: "Bricolage Grotesque", sans-serif;

* {
  box-sizing: border-box;
  font-family: $font-family-secondary;
}
body {
  background-color: $neutral-900;
  color: $neutral-0;
  padding: 40px 40px;
}
#root {
  width: 100%;
}

.metric-container {
  background-color: $neutral-800;
}

#search-input,
.favorites-bar {
  background-color: $neutral-800;
  width: 400px;
}
#fav-btn:hover {
  cursor: pointer;
  background-color: $neutral-700;
  border: 1px solid $neutral-300;
}

#search-btn {
  background-color: $blue-500;
}

.search-box-input-container {
  position: relative;
}
.search-img {
  position: absolute;
  inset: 10px 10px;
}

.main-content > div {
  height: 100%;
}

.weather-conditions-container {
  background: url("../assets/images/bg-today-large.svg") no-repeat center
    center/cover;
  border-radius: 20px;
  width: 100%;
}

.weather-metric {
  background-color: $neutral-800;
  height: 100%;
  flex: 1;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-left: 20px;
  border-radius: 15px;
}

.weather-metric-value {
  font-size: 1.7rem;
  font-weight: 300;
}
.weather-date {
  color: $neutral-200;
}

.weather-icon img {
  width: 100px;
  height: 100px;
}
.daily-forecast-icon img {
  width: 50px;
  height: 50px;
}
.time-container img {
  width: 30px;
  height: 30px;
}
.daily-forecast-card {
  background-color: $neutral-800;
  border-radius: 15px;
}
.dropdown-menu {
  background-color: $neutral-800;
  width: 200px;
}
.dropdown-menu > * {
  margin-block: 5px;
}

.dropdown-measurements {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 2px solid $neutral-600;
}

.dropdown-item {
  color: $neutral-300;
}

.selected {
  background-color: $neutral-600;
  border-radius: 5px;
  padding: 2px 5px;
}

.dropdown-item-unit {
  position: relative;
  padding-right: 20px;
}

.dropdown-item-unit.selected::after {
  content: "✔";
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: white;
}

.hourly-forecast-section {
  background-color: $neutral-800;
  border-radius: 15px;
}

.hourly-forecast-card {
  background-color: $neutral-700;
  border-radius: 15px;
}

.compare-btn-container button {
  width: 50px;
  height: 50px;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
}
#side-drawer {
  background-color: $neutral-800;
  border-left: 2px solid $neutral-600;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  body {
    padding: 20px 5px;
  }
  .nav-logo-img img {
    width: 150px;
    height: 150px;
  }
  #search-input {
    width: 100%;
  }
  .search-box-input-container {
    width: 100%;
  }
  .daily-forecast-cards {
    padding-inline: 10px;
  }
  .hourly-forecast-container {
    margin-inline: 10px;
  }
  .weather-icon img {
    width: 120px;
    height: 120px;
  }
  .weather-metric {
    height: 150px;
  }
}
